body {
	background-color: #1c1b22;
	margin: 0;
}

p,h1,input,button {
	color: #fff;
	font-family: Arial;
}

.title {
	text-align: center;
	font-size: 3rem;
}

article {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.question {
	font-size: 3rem;
}

.subtitle {
	margin: 0;
}

.form input {
	display: block;
	margin: 1rem 0;
	padding: 8px 12px;
	border-radius: 14px;
	-moz-appearance: textfield;
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.submit {
	padding: 4px 8px;
	border: none;
	font-size: 1.5rem;
	background-color: #ffc548;
	border-radius: 14px;
}

.correct {
	color: #00ff00;
}

.incorrect {
	color: #ff0000;
}
